*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hero{
  background: linear-gradient(#c847f1,#380231);
}

.top-bar{
  padding: 20px;
}

.top-bar img{
  width: 200px;

}

.top-btn{
  float: right;
}

.top-btn a{
  margin: 0px 8px;
  padding: 8px 20px;
  border-radius: 50px;
  background: #fff;
  color: #333;
  text-decoration: none !important;
  border: 2px solid #ffffff;
}

.login-btn{
  background: transparent !important;
  color: #fff;
}

.top-btn a:hover{
  background: #fff !important;
  color: #333 !important;
}

.hero h1{
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  margin-top: 12%;
  letter-spacing: 3px;
}
.hero p{
  color: #fff;

}

.hero .container{
  margin-top: 13%;

}

.start-btn{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  width: 140px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 50px;
}


.home-img img{
  position: absolute;
  width: 380px;
  height: 430px;
  min-width: 350px;
  border-radius: 10px;
 
}

.influencers{
  margin-top: 30px;
  padding: 30px 0px;
  background: #efefef;
}

.influencers h1{
  margin: 60px 0px;
  color: #555;
}

.person-img{
  height: 400px;
}
.person-img img{
  width: 100%;
  height: 100%;
}

.row:hover .person-details{
  color: #7c1296;
}

.person-details{
  background: #fff;
  padding: 10px 0px 1px;
  margin-bottom: 15px;
}
.video{
    background: linear-gradient(#c847f1,#380231)
 
}
.video .container{
    margin-top: 250px;
    position: relative;
    bottom: 150px;
}

.footer{
    background: linear-gradient(#c847f1,#380231);
    padding: 50px 0px 20px;
    margin-top: 300px;

}
.footer-menu{
  padding: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
  
}
.footer-menu a{
  padding: 15px;
  text-decoration: none;
  color:#efefef;
  font-size: 30px;
}

.footer p{
  font-size: large;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .footer-menu{
    padding: 15px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 }
 .footer-menu a{
  padding: 15px;
  text-decoration: none;
  color:#efefef;
  font-size: 30px;
}
}